@import "foundation/all";

.ds-breadcrumb {
  @include flex();
  color: var(--color-text-2);
  font-size: map-get($fontSize, "sm");
  &-item {
    display: inline-flex;
    align-items: center;
    padding: 0 4px;
    vertical-align: middle;
    line-height: 24px;
    color: var(--color-text-2);
    &-separator {
      display: inline-flex;
      margin: 0 4px;
      vertical-align: middle;
      line-height: 24px;
      color: var(--color-text-4);
    }
    a {
      display: inline-flex;
      border-radius: var(--border-radius-small);
      padding: 0 4px;
      margin: 0 -4px;
      text-decoration: none;
      color: var(--color-text-2);
      background-color: transparent;
    }
    &:last-child {
      color: var(--color-text-1);
      font-weight: 500;
    }
  }
}
