@import "foundation/all";

.ds-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  width: 1em;
  height: 1em;
  vertical-align: -2px;
  stroke: currentColor;

  &-block {
    @include inline-flex(column);
  }

  &-loading {
    display: inline-block;
    font-weight: $body-font-weight;
    animation-name: ds-loading-circle;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes ds-loading-circle {
  100% {
    transform: rotate(360deg);
  }
}

@each $key,
$val in $IconSize {
  .ds-icon-size-#{$key} {
    font-size: $val;
    display: inline-block;
    text-align: center;
  }
}