@import "foundation/all";
.ds-message {
  &-wrapper {
    width: 100%;
    position: fixed;
    z-index: 1003;
    padding: 0 10px;
    text-align: center;
    pointer-events: none;
    box-sizing: border-box;
    &-top {
      top: 40px;
    }
  }
  .ds-notice {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
