@import "foundation/all";
$prefix: '.ds-radio';

#{$prefix} {
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    display: inline-flex;
    font-size: map-get($fontSize, "sm");
    line-height: unset;

    >input[type=radio] {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    &-mask-wrapper {
        display: inline-flex;
        justify-content: flex-end;
        position: relative;
    }

    &-mask {
        display: block;
        border: 2px solid var(--ds-neutral-3);
        box-sizing: border-box;
        height: 14px;
        width: 14px;
        border-radius: var(--ds-border-radius-circle);
        position: relative;
        line-height: 14px;
    }

    &-checked {
        #{$prefix}-mask {
            background-color: var(--ds-primary-6);
            border-color: var(--ds-primary-6);
        }

        #{$prefix}-mask:after {
            transform: scale(.4);
            background-color: var(--color-bg-2);
        }

        #{$prefix}-mask-wrapper:hover:before {
            opacity: 0;
            background-color: transparent;
        }
    }

    &-text {
        color: var(--color-text-1);
        margin-left: 8px
    }

    &-disabled {
        cursor: not-allowed;

        #{$prefix}-mask-wrapper {
            cursor: not-allowed;
        }

        #{$prefix}-mask {
            border-color: transparent;
            background-color: var(--ds-neutral-2);
        }

        #{$prefix}-mask:after {
            background-color: var(--ds-neutral-1);
        }

        #{$prefix}-mask-wrapper:hover:before {
            opacity: 0;
            background-color: transparent;
        }

        #{$prefix}-text {
            color: var(--color-text-4);
        }
    }

    &-group {
        display: inline-block;
        box-sizing: border-box;

        &-vertical {
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;

            #{$prefix} {
                display: block;
                line-height: 32px;
                margin-right: 0px;

            }
        }

        &-type {
            &-button {
                position: relative;
                z-index: 0;
                padding: 1.5px;
                line-height: 26px;
                background-color: var(--ds-neutral-3);
            }
        }

        &-button {
            position: relative;
            z-index: 0;
            padding: 1.5px;
            line-height: 26px;
        }

        &-size {
            &-mini #{$prefix}-button {
                font-size: map-get($fontSize, "xs");
                line-height: 18px;
            }

            &-small #{$prefix}-button {
                font-size: map-get($fontSize, "sm");
                line-height: 22px;
            }

            &-large #{$prefix}-button {
                font-size: map-get($fontSize, "sm");
                line-height: 30px;
            }
        }
    }

    &-button {
        display: inline-block;
        position: relative;
        margin: 1.5px;
        border-radius: var(--ds-border-radius-small);
        font-size: map-get($fontSize, "sm");
        line-height: 26px;
        color: var(--color-text-2);
        background-color: transparent;
        cursor: pointer;
        transition: all .1s linear;

        &-inner {
            display: block;
            position: relative;
            padding: 0 12px;
        }
    }

    &-button#{$prefix}-checked {
        background-color: var(--color-bg-5);
        color: var(--ds-primary-6);
        font-weight: 500;
    }

    &-button#{$prefix}-disabled {
        cursor: not-allowed;
        background-color: transparent;
        color: var(--color-text-4);

    }

    &-button:not(:first-of-type):before {
        position: absolute;
        top: 50%;
        left: -2px;
        transform: translateY(-50%);
        display: block;
        height: 14px;
        width: 1px;
        background-color: var(--ds-neutral-3);
        content: "";
        transition: all .1s linear;
    }

    &-button:hover {
        background-color: var(--color-bg-5);
    }

    &-button::after {
        content: " ";
        display: block;
        position: absolute;
        left: -3px;
        top: -3px;
        right: -3px;
        bottom: -3px;
        background-color: var(--color-fill-2);
        pointer-events: none;
        z-index: -1;
    }

}


#{$prefix}-button#{$prefix}-checked+#{$prefix}-button:before,
#{$prefix}-button#{$prefix}-checked:before,
#{$prefix}-button:hover+#{$prefix}-button:before,
#{$prefix}-button:hover:before {
    opacity: 0;
}

#{$prefix}-mask-wrapper:before {
    width: 24px;
    height: 24px;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    position: absolute;
    display: block;
    border-radius: var(--ds-border-radius-circle);
    background-color: transparent;
    box-sizing: border-box;
    transition: background-color .1s linear;
}

#{$prefix}-mask-wrapper:hover:before {
    opacity: 1;
    background-color: var(--ds-neutral-2);
}


#{$prefix}-disable#{$prefix}-mask:after {
    background-color: var(--color-fill-2);
}

#{$prefix}-mask:after {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    content: "";
    border-radius: var(--ds-border-radius-circle);
    background-color: var(--color-bg-2);
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    transform: scale(1);
    transition: transform .3s cubic-bezier(.3, 1.3, .3, 1);
}